:root {
    --white-color: #fff;
    --black-color:  #555555;
    --text-color: #9a9a9a;
    --primary-color: #f3a46b;

}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 0.1rem;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__col-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 33.3334%;
}

.grid__col-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}

.grid__col-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
}

.grid__col-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: 66.6667%;
}

.reverse__flex{
    flex-direction: row-reverse;
}

.green {
    background-color: #1BBC9B !important;
}

.red {
    background-color: #FF6868 !important;
}

.blue {
    background-color: #14B9D5 !important;
}

.purple {
    background-color: #C755DA !important;
}

.white {
    background-color: #fff;
}

.blue__color {
    color: #14B9D5 !important;
}

.white__color {
    color: #fff !important;
}

.green__color {
    color: #1BBC9B !important;
}

.none__border {
    border: none !important;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    z-index: 5;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__body {
    position: relative;
    margin: auto;
    border: none;
}

.modal__body iframe {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.modal__body-close {
    position: absolute;
    top: -30px;
    right: 2px;
    color: var(--white-color);
    opacity: 0.8;
    font-size: 2rem;
    cursor: pointer;
}

.modal__body-close:hover {
    opacity: 1;
}
